.key {
    position: relative;
    width: calc(100% / 7);
    z-index: 1;
    cursor: pointer;
}

.sharp {
    position: absolute;
    z-index: 2;
}

.keyActive {
    /* Do some fancy animation here :) */
}

@media (min-width: 1400px) {
    .key {
        width: calc(100% / 14);
    }
}
