.bonus-button {
  background-color: #40b9eb;
  color: white;
  margin-top: 16px;
  padding: 8px 16px;
  font-family: inherit;
  border: 1px solid white;
  border-radius: 16px;
  cursor: pointer;
  text-transform: uppercase;
}